/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem.dtsi"
#include "totem_esb.dtsi"
#include <input/processors/scaler.dtsi>
#include <input/processors/temp_layer.dtsi>
#include <input/processors.dtsi>

 &kscan0 {
     col-gpios
         = <&xiao_d 8 GPIO_ACTIVE_HIGH>
         , <&xiao_d 9 GPIO_ACTIVE_HIGH>
         , <&xiao_d 10 GPIO_ACTIVE_HIGH>
         , <&xiao_d 5 GPIO_ACTIVE_HIGH>
         , <&xiao_d 4 GPIO_ACTIVE_HIGH>
         ;
 };

 / {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@1 {
            compatible = "zmk,input-split";
            reg = <1>;  // Must match the peripheral's reg value
        };
    };

    /* Trackball listener - same layer-aware processing */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        // Optional: Add input processors (e.g., acceleration, rate limiting)
        // input-processors = <&pointer_accel>;/* 1x sensitivity + auto mouse layer */
        input-processors = <&zip_xy_scaler 1 1>, <&zip_temp_layer 7 1000>;
        
        /* Layer 8: Scroll mode - reduced sensitivity */
        scroll {
            layers = <8>;
            input-processors = <&zip_xy_scaler 1 16>, <&zip_xy_to_scroll_mapper>;
        };
    };
};